# Ports
VITE_SERVER_PORT=5175
REDIS_PORT=6379
LOAD_BALANCER_PORT=8000
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MONGODB_PORT=27017
API_PORT=3000
EDITOR_PORT=3001

# Origins
VITE_API_URL=http://localhost:3000/api
VITE_EDITOR_URL=ws://localhost:3001/ws
CORS_ORIGINS=http://localhost:5175
MINIO_URL=http://localhost:9000
MONGODB_URL=mongodb://localhost:27017

# Secrets
TOKEN_SECRET=your-token-secret
TOKEN_EXPIRY=1d

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

MINIO_ACCESS_KEY=cotex
MINIO_SECRET_KEY=password
MINIO_BUCKET=cotex

